.container {
  background-color: var(--section-background-color);
  padding: var(--section-padding);
  border-radius: var(--section-border-radius);
  box-shadow: var(--section-box-shadow);
}

.title {
  font-size: var(--section-title-font-size);
  font-weight: var(--section-titile-font-weight);
  margin-bottom: var(--section-titile-margin-bottom);
  color: var(--section-title-color);
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
